{% extends "admin_layout.html" %} {% block content %}

<div class="page-header">
  <h3>Pelanggan</h3>

  <a href="/admin/tambah-pelanggan" class="btn-primary-custom">
    <i class="bi bi-plus-lg"></i>
    Tambah Pelanggan
  </a>
</div>

<form method="GET" action="/admin/pelanggan">
  <div class="search-box">
    <input
      type="text"
      name="search"
      placeholder="Cari nama / ID PLN / No HP..."
      value="{{ request.args.get('search','') }}"
    />
  </div>
</form>

<div class="table-card">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>ID PLN</th>
        <th>No HP</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      {% for p in pelanggan %}
      <tr>
        <td>{{ loop.index }}</td>

        <td>{{ p.nama }}</td>

        <td>{{ p.id_pln }}</td>

        <td>{{ p.hp }}</td>

        <td>
          <a href="/admin/edit-pelanggan/{{ p.id }}" class="btn-icon edit">
            <i class="bi bi-pencil"></i>
          </a>

          <a
            href="/admin/hapus-pelanggan/{{ p.id }}"
            class="btn-icon delete"
            onclick="return confirm('Hapus pelanggan ini?');"
          >
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
